@{
    ViewBag.Title = "Team RAT Medical Database";
}

<div class="jumbotron">
    <div>
        @Html.ActionLink("List of Addresses", "Index", "Addresses")<br />
        @Html.ActionLink("List of Appointments", "Index", "Appointments")<br />
        @Html.ActionLink("List of Doctors", "Index", "Doctors")<br />
        @Html.ActionLink("List of Doctor Specialties", "Index", "DoctorSpecialties")<br />
        @Html.ActionLink("List of Employees", "Index", "Employees")<br />
        @Html.ActionLink("List of Illnesses", "Index", "Illnesses")<br />
        @Html.ActionLink("List of Medical Histories", "Index", "MedicalHistories")<br />
        @Html.ActionLink("List of Medications", "Index", "Medications")<br />
        @Html.ActionLink("List of Nurses", "Index", "Nurses")<br />
        @Html.ActionLink("List of Nurse Specialties", "Index", "NurseSpecialties")<br />
        @Html.ActionLink("List of Patients", "Index", "Patients")<br />
        @Html.ActionLink("List of Perscriptions", "Index", "Perscriptions")<br />
        @Html.ActionLink("List of Rooms", "Index", "Rooms")<br />

    </div>
</div>