
@{
    ViewBag.Title = "CRUD";
}

<h2>Tables for CRUD Operations</h2>
<li>@Html.ActionLink("Addresses", "Index", "Addresses")</li>
<li>@Html.ActionLink("Appointments", "Index", "Appointments")</li>
<li>@Html.ActionLink("Doctors", "Index", "Doctors")</li>
<li>@Html.ActionLink("Doctor Specialties", "Index", "DoctorSpecialties")</li>
<li>@Html.ActionLink("Employees", "Index", "Employees")</li>
<li>@Html.ActionLink("Illnesses", "Index", "Illnesses")</li>
<li>@Html.ActionLink("Medical Histories", "Index", "MedicalHistories")</li>
<li>@Html.ActionLink("Medications", "Index", "Medications")</li>
<li>@Html.ActionLink("Nurses", "Index", "Nurses")</li>
<li>@Html.ActionLink("Nurse Specialties", "Index", "NurseSpecialties")</li>
<li>@Html.ActionLink("Patients", "Index", "Patients")</li>
<li>@Html.ActionLink("Prescriptions", "Index", "Prescriptions")</li>
<li>@Html.ActionLink("Rooms", "Index", "Rooms")</li>

