@model IEnumerable<medDatabase.Domain.Models.Doctor>

@{
    ViewBag.Title = "Doctors";
}

<h2>Doctors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctorSpecialty.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Ssn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorSpecialty.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Ssn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeId })
        </td>
    </tr>
}

</table>
