@model medDatabase.Domain.Models.Nurse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Nurse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Ssn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Ssn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NurseSpecialty.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NurseSpecialty.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
