@model medDatabase.Domain.Models.MedicalHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MedicalHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiagnosisDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiagnosisDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastVisitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastVisitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Illness.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Illness.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.Ssn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Ssn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
