@model IEnumerable<medDatabase.Domain.Models.MedicalHistory>

@{
    ViewBag.Title = "Medical Histories";
}

<h2>Medical Histories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiagnosisDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastVisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Illness.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Ssn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiagnosisDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastVisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Illness.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Ssn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
